.nav-menu-btn {
    display: flex;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 0.5rem;
}

.nav-menu-btn .menu-btn--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.15rem;
    margin: 0 0.1rem;
}

.nav-menu-btn .btn__line {
    width: 1rem;
    height: 0.2rem;
    background-color: var(--c-red);
    display: inline-block;
}

.nav-is-not-mobile {
    display: none;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    transition: background-color .3s linear, color .3s linear;
}

.scroll-container {
    background-color: var(--c-black);
    color: var(--c-white);
}

.nav-container img {
    max-width: 10rem;
    transition: all .3s linear;
}

.scroll-container img {
    max-width: 7rem;
}

.nav-is-mobile {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    right: 0;
    overflow: auto;
}

.btn__menu--close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: var(--c-white);
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 12;
}

.menu__list {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
    padding-right: 1rem;
    color: var(--c-white);
    z-index: 11;
    backdrop-filter: blur(2px);
    overflow: hidden;
}

.menu__list::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--c-red);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    animation: menuMobileOpen .3s linear forwards alternate;
}

.menu__list--close::before {
    content: "";
    animation: menuMobileClose .3s .3s linear forwards alternate;
}

.menu__item {
    position: relative;
    z-index: 12;
    right: -15rem;
    animation: menuOpenLi .3s linear forwards alternate;
}

.menu__item:nth-of-type(1)  {
    animation-delay: 0.1s;
}

.menu__item:nth-of-type(2)  {
    animation-delay: 0.15s;
}

.menu__item:nth-of-type(3)  {
    animation-delay: 0.2s;
}

.menu__item:nth-of-type(4)  {
    animation-delay: 0.25s;
}

.menu__item:nth-of-type(5)  {
    animation-delay: 0.3s;
}

.menu__item:nth-of-type(6)  {
    animation-delay: 0.35s;
}

.menu__list--close .menu__item {
    right: 0;
    animation: menuOpenLiClose .3s linear forwards alternate;
}

.menu__list--close .menu__item:nth-of-type(1)  {
    animation-delay: 0.1s;
}

.menu__list--close .menu__item:nth-of-type(2)  {
    animation-delay: 0.15s;
}

.menu__list--close .menu__item:nth-of-type(3)  {
    animation-delay: 0.2s;
}

.menu__list--close .menu__item:nth-of-type(4)  {
    animation-delay: 0.25s;
}

.menu__list--close .menu__item:nth-of-type(5)  {
    animation-delay: 0.3s;
}

.menu__list--close .menu__item:nth-of-type(6)  {
    animation-delay: 0.35s;
}


.showDropdown > a + ul {
    position: absolute;
    right: 100%;
    top: -5%;
    text-align: right;
    opacity: 0;
    transition: all .3s linear;
}

.showDropdown:hover > a + ul,
.showDropdown:focus > a + ul {
    right: 105%;
    opacity: 1;
}

.showDropdown > a {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}

.showDropdown > span a {
    font-size: 1.5rem;
}

.menu__item {
    width: 8rem;
    height: 3rem;
    perspective: 1000px;
}

.menu__item > a {
    display: block;
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    font-size: 1.8rem;
    height: 100%;
    font-weight: 100;
}

.menu__item:hover > a {
    animation: menuItemRotate .5s linear forwards alternate;
}

.menu__item > a span:not(.layer) {
    position: absolute;
    top: 20%;
    left: 0;
    bottom: 30%;
}

.layer {
    position: absolute;
    top: 0;
    right: 0;
    text-shadow: 0 0 1px #fff;
}

.layer:nth-of-type(1) {
    transform: translateZ(0px);
}

.layer:nth-of-type(2) {
    transform: translateZ(-1px);
}

.layer:nth-of-type(3) {
    transform: translateZ(-2px);
}

.layer:nth-of-type(4) {
    transform: translateZ(-3px);
}

.layer:nth-of-type(5) {
    transform: translateZ(-4px);
}

.layer:nth-of-type(6) {
    transform: translateZ(-5px);
}

.layer:nth-of-type(7) {
    transform: translateZ(-6px);
}

.layer:nth-of-type(8) {
    transform: translateZ(-7px);
}

.layer:nth-of-type(9) {
    transform: translateZ(-8px);
}

.layer:nth-of-type(10) {
    transform: translateZ(-9px);
}

.nav-is-mobile .menu__item > .active {
    color: #02f3ff;
}

.nav-is-mobile .menu__item > .active > .layer {
    text-shadow: 0 0 1px #02f3ff;
}

.nav-is-mobile .menu__item ul .active {
    color: #02f3ff;
}




@media screen and (min-width: 480px) {
    .menu__list::before {
        content: "";
        width: 30rem;
        max-width: 100%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 0%);
        animation: menuMobileOpen2 .2s linear forwards alternate;
    }

    .menu__list--close::before {
        animation: menuMobileClose2 .3s .3s linear forwards alternate;
    }
}


@media screen and (min-width: 768px) {
    .nav-menu-btn,
    .nav-is-mobile {
        display: none;
    }

    .nav-container {
        transition: none;
    }

    .scroll-container {
        background-color: transparent;
    }

    header {
        transition: background-color .3s linear, color .3s linear;
    }

    .scroll-header {
        background-color: var(--c-black);
        color: var(--c-white);
    }

    .nav-is-not-mobile {
        display: block;
    }

    .nav-container {
        align-items: flex-end;
    }

    .nav-container.scroll-container .nav-is-not-mobile {
        margin-bottom: 0;
    }

    .nav-container .nav-is-not-mobile {
        margin-bottom: 0.3rem;
    }

    .nav-is-not-mobile ul {
        display: flex;
        gap: 1.5rem;
    }

    .nav-is-not-mobile ul li {
        position: relative;
    }

    .nav-is-not-mobile ul a[href="/sluzby"] {
        display: flex;
        align-items: center;
        position: relative;
    }

    .nav-is-not-mobile ul a[href="/sluzby"] span svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .nav-is-not-mobile ul a[href="/sluzby"] + ul {
        position: absolute;
        display: block;
        right: 0.75rem;
        top: 60%;
        padding-top: 1rem;
        text-align: right;
        width: 7rem;
        background-color: var(--c-white);
        color: var(--c-black);
        border-right: 1px solid var(--c-black);
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: all .3s linear;
    }

    .nav-is-not-mobile ul li:has(a[href="/sluzby"]):hover a[href="/sluzby"] + ul,
    .nav-is-not-mobile ul li:has(a[href="/sluzby"]):focus a[href="/sluzby"] + ul {
        visibility: visible;
        opacity: 1;
        top: 100%;
    }

    .nav-is-not-mobile ul a[href="/sluzby"] + ul li {
        padding-right: 0.5rem;
        border-bottom: 1px solid var(--c-black);
        margin: 0 0 0.5rem 0.5rem;
        padding-bottom: 0.3rem;
    }

    .nav-is-not-mobile ul a[href="/sluzby"] + ul li:last-of-type {
        margin-bottom: 0;
    }

    .scroll-container .nav-is-not-mobile ul a[href="/sluzby"] + ul {
        background-color: var(--c-black);
        color: var(--c-white);
        border-color: var(--c-white);
    }

    .scroll-container .nav-is-not-mobile ul a[href="/sluzby"] + ul li:last-of-type {
        padding-bottom: 0.5rem;
        border-bottom: none;
    }

    .scroll-container .nav-is-not-mobile ul a[href="/sluzby"] + ul li {
        border-color: var(--c-white);
        padding-bottom: 0.4rem;
    }

    .nav-is-not-mobile .active {
        color: var(--c-red);
    }

    .nav-is-not-mobile .active[href="/sluzby"] span {
        color: var(--c-black);
    }

    .scroll-container .nav-is-not-mobile .active[href="/sluzby"] span {
        color: var(--c-white);
    }

    .nav-is-not-mobile ul:has(li a[href="/sluzby"] + ul .active) a[href="/sluzby"] {
        color: var(--c-black);
    }

    .scroll-container .nav-is-not-mobile ul:has(li a[href="/sluzby"] + ul .active) a[href="/sluzby"] {
        color: var(--c-white);
    }

    .nav-is-not-mobile ul:has(li a[href="/sluzby"] + ul .active) a[href="/sluzby"] > span {
        color: var(--c-red);
    }


}




@keyframes menuItemRotate {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(360deg);
    }
}


@keyframes menuMobileOpen {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes menuMobileOpen2 {
    0% {
        width: 0;
    }
    100% {
        width: 30rem;
    }
}

@keyframes menuMobileClose {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

@keyframes menuMobileClose2 {
    0% {
        width: 30rem;
    }
    100% {
        width: 0;
    }
}

@keyframes menuOpenLi {
    0% {
        right: -15rem;
    }
    90% {
        right: 1rem;
    }
    100% {
        right: 0;
    }
}

@keyframes menuOpenLiClose {
    0% {
        right: 0;
    }
    10% {
        right: 1rem;
    }
    100% {
        right: -15rem;
    }
}