.themeBtn {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.15rem;
    background-color: var(--c-white);
    border-radius: 1.5rem;
    gap: 0.25rem;
    width: 3.25rem;
    height: 1.75rem;
    cursor: pointer;
}

.themeBtn.light {
    box-shadow: inset 0 0 10px var(--c-grey);
}

.themeBtn.dark {
    box-shadow: inset 0 0 10px var(--c-black);
}

.themeBtnCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

.themeBtnLight {
    background-color: var(--c-white);
}

.themeBtnDark {
    background-color: var(--c-black);
}