@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import "tailwindcss";

:root {
    --c-white: #ffffff;
    --c-black: #1A1A1A;
    --c-red: #B24A4E;
    --c-grey: #898989;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body.font-latin {
    font: 300 1rem/1.5 "Montserrat", sans-serif;
}

body.font-korean {
    font: 300 1rem/1.5 "Noto Sans KR", sans-serif;
    letter-spacing: -0.03em;
}

#root {
    position: relative;
}

body {
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--c-black);
}

body main, 
body header > *:not(:last-of-type) {
    opacity: 1;
    transition: opacity .5s linear;
}

body.dark {
    background-color: var(--c-black);
    color: var(--c-white);
}

body.theme-animating main, 
body.theme-animating header > *:not(:last-of-type) {
    opacity: 0;
}

strong {
    font-weight: 700;
}

h1 {
    font-size: 280%;
}

h2 {
    font-size: 220%;
}

.theme-overlay {
    width: 100vmax;
    height: 100vmax;
    position: fixed;
    top: -1rem;
    right: -1rem;
    z-index: -10;
    transform: scale(3.5);
    border-radius: 50%;
    animation: themeOverlay 0.5s linear forwards;
}

.theme-overlay.light {
    background-color: var(--c-black);
}

.theme-overlay.dark {
    background-color: var(--c-white);
}

@keyframes themeOverlay {
    0% {
        width: 100vmax;
        height: 100vmax;
        transform: scale(3.5);
    }
    100% {
        width: 0;
        height: 0;
        transform: scale(3.5);
    }
}