@import "tailwindcss";

:root {
    --c-white: #ffffff;
    --c-black: #1A1A1A;
    --c-red: #B24A4E;
}

html {
    font-size: 16px;
}

body {
    font: 300 1rem/1.5 "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--default-text);
}
